AddOutputFilter INCLUDES .html
<Files "robots.txt">
  AddOutputFilter INCLUDES txt
</Files>

AddType application/pdf .pdf

RewriteEngine on

# Redirect cgal.org to www.cgal.org
RewriteCond %{HTTP_HOST} ^cgal.org
RewriteRule (.*) http://www.cgal.org/$1 [R=301,L]

# Redirect page removed from the web site in April 2015)
Redirect permanent /platforms.html http://doc.cgal.org/latest/Manual/installation.html#seccompilers
Redirect permanent /windows_installation.html /download/windows.html

AddHandler type-map .var
RedirectMatch permanent ^/index2.html /
RedirectMatch permanent ^/history.html /partners.html
RedirectMatch permanent ^/other_languages.html /
RedirectMatch permanent ^/publications_frame.html /bibliography.html
RedirectMatch permanent ^/([^/]+)_frame.html /$1.html
RedirectMatch permanent ^/upcoming http://upcoming.cgal.org
RedirectMatch permanent ^/packages /Manual/latest/doc_html/cgal_manual/packages.html

# link for downloading the last release, currently 4.6
Redirect /download/last https://gforge.inria.fr/frs/?group_id=52&release_id=9166

# CGAL-4.6-beta1
Redirect /download/beta https://gforge.inria.fr/frs/?group_id=52&release_id=9081

RedirectMatch seeother ^/Pkg/(.*) http://doc.cgal.org/latest/Manual/packages.html#Pkg$1Summary
RedirectMatch seeother ^/Part/(.*) http://doc.cgal.org/latest/Manual/packages.html#Part$1

# An alias for shorter urls to the CGAL Developers Wiki
RedirectMatch seeother ^/wiki/(.*) https://cgal.geometryfactory.com/CGAL/Members/wiki/$1

RewriteRule ^xredirect:(.+) /cgi-bin/nph-xredirect.cgi/$1 \
            [T=application/x-httpd-cgi,L]

# Redirect from /Manual/3.5/ or /Manual/last/ to the correspoding TOC of
# the manual. It does not match /Manual/3.5/something...
RewriteRule  ^Manual/([^/]*)/$ /Manual/$1/doc_html/cgal_manual/contents.html [R]

# If one demo does not exists in demo/3.5/, then use the one in demo/
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.5/(.*) /demo/$1 [R]

# Redirect 3.5.1 to 3.5
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.5.1/(.*) /demo/3.5/$1 [R]

# Same for 3.6->3.5.1
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.6/(.*) /demo/3.5.1/$1 [R]

# Redirect 3.6.1 to 3.6
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.6.1/(.*) /demo/3.6/$1 [R]

# Same for 3.7->3.6
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.7/(.*) /demo/3.6/$1 [R]

# Same for 3.7.1->3.7
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.7.1/(.*) /demo/3.7/$1 [R]

# Same for 3.8->3.7
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.8/(.*) /demo/3.7/$1 [R]

# Same for 3.8.1->3.8
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.8.1/(.*) /demo/3.8/$1 [R]

# Same for 3.9->3.8
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.9/(.*) /demo/3.8/$1 [R]

# Same for 3.9.1->3.9
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.9.1/(.*) /demo/3.9/$1 [R]

# Same for 3.10->3.9
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.10/(.*) /demo/3.9/$1 [R]

# Same for 3.10.1->3.10
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.10.1/(.*) /demo/3.10/$1 [R]

# Same for 3.11->3.10
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.11/(.*) /demo/3.10/$1 [R]

# Same for 3.11.1->3.11
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/3.11.1/(.*) /demo/3.11/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.0/(.*) /demo/3.9/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.0.1/(.*) /demo/4.0/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.0.2/(.*) /demo/4.0.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.0.3/(.*) /demo/4.0.2/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.1/(.*) /demo/4.0/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.1.1/(.*) /demo/4.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.1.2/(.*) /demo/4.1.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.2/(.*) /demo/4.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.2.1/(.*) /demo/4.2/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.2.2/(.*) /demo/4.2.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.3/(.*) /demo/4.2/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.3.1/(.*) /demo/4.3/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.3.2/(.*) /demo/4.3.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.4/(.*) /demo/4.3/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.4.1/(.*) /demo/4.4/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.5/(.*) /demo/4.4/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.5.1/(.*) /demo/4.5/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.5.2/(.*) /demo/4.5.1/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.6/(.*) /demo/4.5/$1 [R]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule demo/4.6.1/(.*) /demo/4.6/$1 [R]

# Redirect last version of the manual /Manual/4.5/ to /Manual/latest/
RewriteRule ^Manual/4.5/(.*) /Manual/latest/$1 [R]

# Redirect "last" to "latest"
RewriteRule ^Manual/last(.*) /Manual/latest$1 [R=permanent]

# What is that redirection for? -- Laurent Rineau, 2013/10/18
RedirectMatch seeother ^latest /Manual/latest/

# Special rule, to test the rewrite map:
#RewriteRule ^test-cgal_manual/(.*\.html)$ http://doc.cgal.org/latest/${pages:$1|BUG-pages} [R=seeother]
