---
layout: page
title: Documentation
header: Documentation
group: navigation
---
{% include JB/setup %}

<div class="row">

{% assign box_title = "Getting Started" %}
{% assign box_text = "General information to get you started with CGAL." %}
{% assign box_image = "images/icons/glyphicons-174-play.svg" %}
{% assign box_link = "http://doc.cgal.org/latest/Manual/general_intro.html" %}
{% assign box_target_blank = true %}
{% include themes/cgal/box %}

{% assign box_title = "Manual" %}
{% assign box_text  = "CGAL is split into packages. Curious about how to use them? Here you are." %}
{% assign box_image = "images/icons/glyphicons-320-sort.svg" %}
{% assign box_link = "http://doc.cgal.org/latest/Manual/packages.html" %}
{% assign box_target_blank = true %}
{% include themes/cgal/box %}

{% assign box_title = "Manual of CGAL 4.11 beta 1" %}
{% assign box_text  = "Have a look into the future. Note that the beta is already public." %}
{% assign box_image = "images/icons/beta.svg" %}
{% assign box_link = "http://doc.cgal.org/4.11/Manual/packages.html" %}
{% assign box_target_blank = true %}
{% include themes/cgal/box %}

{% assign box_title = "Exact Computation Paradigm" %}
{% assign box_text  = "Combine the speed of floating point computation with the robustness guaranteed by arbitrary precision arithmetic " %}
{% assign box_image = "images/icons/exact.svg" %}
{% assign box_link = "exact.html" %}
{% include themes/cgal/box %}

</div>
