---
layout: page
title: Download
header: Download CGAL
group: navigation
---
{% include JB/setup %}

<div class="row">

{% assign box_title = "Licensing" %}
{% assign box_text = "CGAL is dual licensed, namely under the GPL3+ and a commercial license." %}
{% assign box_image = "images/icons/glyphicons-115-list.svg" %}
{% assign box_link = "./license.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Linux" %}
{% assign box_text = "Get it with a package manager, as a tarball, or from github" %}
{% assign box_image = "images/icons/linux.svg" %}
{% assign box_link = "./download/linux.html" %}
{% include themes/cgal/box %}

</div>

<div class="row">

{% assign box_title = "Mac OS X" %}
{% assign box_text = "Get it with a package manager, as a tarball, or from github" %}
{% assign box_image = "images/icons/Mac_os_x_icon.svg" %}
{% assign box_link = "./download/macosx.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Windows" %}
{% assign box_text = "Get it with an installer, a tarball, or from github" %}
{% assign box_image = "images/icons/windows.svg" %}
{% assign box_link = "./download/windows.html" %}
{% include themes/cgal/box %}

</div>
