---
layout: page
title: Features of 2025
---

<div class="carrousel-wrapper">
  <div class="carrousel">
    <ul class="bxslider">
      {% assign posts_of_the_year = "" | split: "" %}
      {% for post in site.posts %}
        {% assign year = post.date | date: "%Y" %}
        {% if post.tags contains 'features' and year == '2025' %}
          {% assign posts_of_the_year = posts_of_the_year | push: post %}
          <li><img class="slide" src="{{ site.baseurl }}{{ post.image }}" />
            <h2 class="slideTitle">{{ post.title }}</h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="custom-pager">
      {% for post in posts_of_the_year %}
        {% assign year = post.date | date: "%Y" %}
        {% if post.tags contains 'features' and year == '2025' %}
        <a data-slide-index="{{ forloop.index0 }}" href=""></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

All features released in 2025:
<ul>
{% for post in posts_of_the_year %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: '%B %d, %Y' }}</li>
{% endfor %}
</ul>