---
layout: page
title: Media
header: Media
group: navigation
---
{% include JB/setup %}

<div class="row">

{% assign box_title = "Gallery" %}
{% assign box_text = "Explore a collection of results obtained with CGAL algorithms." %}
{% assign box_image = "images/icons/drawing.svg" %}
{% assign box_link = "./videos.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Videos" %}
{% assign box_text = "Have a look at videos covering algorithms and data structures of CGAL." %}
{% assign box_image = "images/icons/glyphicons-9-film.svg" %}
{% assign box_link = "./videos.html" %}
{% include themes/cgal/box %}

</div>

<div class="row">

{% assign box_title = "Courses" %}
{% assign box_text = "Improve your knowledge of CGAL with these slides and courses." %}
{% assign box_image = "images/icons/courses.svg" %}
{% assign box_link = "./videos.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Logo" %}
{% assign box_text = "Get the CGAL logo in various formats and background colors." %}
{% assign box_image = "images/icons/construction.svg" %}
{% assign box_link = "./logos.html" %}
{% include themes/cgal/box %}

</div>
