---
permalink: /media.html
layout: page
title: Media
header: Media
group: navigation
---
{% include JB/setup %}

<div class="row">

{% assign box_title = "Videos" %}
{% assign box_text = "Explore a collection of videos covering algorithms and data structures of CGAL." %}
{% assign box_image = "images/icons/glyphicons-9-film.svg" %}
{% assign box_link = "./videos.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Logo" %}
{% assign box_text = "Get the CGAL logo in various formats and background colors." %}
{% assign box_image = "images/icons/construction.svg" %}
{% assign box_link = "./logos.html" %}
{% include themes/cgal/box %}

</div>
