---
layout: page
title: More
header: More
group: navigation
---
{% include JB/setup %}

<div class="row">

  {% assign box_title = "Releases" %}
{% assign box_text = "For each release we list what packages have been added, and what changes have been made." %}
{% assign box_image = "images/icons/glyphicons-60-cargo.svg" %}
{% assign box_link = "./releases.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Acknowledging" %}
{% assign box_text = "We provide bibtex entries for each chapter of the manual so that you can cite CGAL correctly in your publications." %}
{% assign box_image = "images/icons/glyphicons-536-ice-cream.svg" %}
{% assign box_link = "http://doc.cgal.org/latest/Manual/how_to_cite_cgal.html" %}
{% include themes/cgal/box %}

  {% assign box_title = "About the logo" %}
{% assign box_text = "How the CGAL logo was designed..." %}
{% assign box_image = "images/icons/glyphicons-60-cargo.svg" %}
{% assign box_link = "./logo.html" %}
  {% include themes/cgal/box %}
  
</div>

<div class="row">

{% assign box_title = "Videos" %}
{% assign box_text = "Have a look at videos covering algorithms and data structures of CGAL." %}
{% assign box_image = "images/icons/glyphicons-9-film.svg" %}
{% assign box_link = "./videos.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Intranet" %}
{% assign box_text = "Password protected access to the Developer Wiki" %}
{% assign box_image = "images/icons/glyphicons-205-unlock.svg" %}
{% assign box_link = "https://cgal.geometryfactory.com/CGAL/Members/wiki/Main_Page" %}
{% include themes/cgal/box %}

</div>

