---
layout: page
title: The CGAL Project 
header: The CGAL Project
group: navigation
---
{% include JB/setup %}

<div class="row">

{% assign box_title = "People" %}
{% assign box_text = "The project is managed by the CGAL Editorial Board, and has about 20 active developers and alumnis." %}
{% assign box_image = "images/icons/glyphicons-25-people.svg" %}
{% assign box_link = "./people.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Get Involved" %}
{% assign box_text = "Become a user, participate in a GSoC, contribute your research results, and become a project member." %}
{% assign box_image = "images/icons/gettingInvolved.svg" %}
{% assign box_link = "./opensource.html" %}
{% include themes/cgal/box %}

</div>

<div class="row">

{% assign box_title = "Rules" %}
{% assign box_text = "The project has rules on how to get developer and editor status, and how decisions are taken." %}
{% assign box_image = "images/icons/glyphicons-562-paragraph.svg" %}
{% assign box_link = "./project_rules.html" %}
{% include themes/cgal/box %}
 
{% assign box_title = "Partners and Funding" %}
{% assign box_text = "The project is supported by academia and industry providing people, infrastructure, and funding." %}
{% assign box_image = "images/icons/glyphicons-490-handshake.svg" %}
{% assign box_link = "./partners.html" %}
{% include themes/cgal/box %}
 
</div>

<div class="row">

{% assign box_title = "Work in Progress" %}
{% assign box_text = "CGAL developers are currently working on ...." %}
{% assign box_image = "images/icons/progress.svg" %}
{% assign box_link = "./in_progress.html" %}
{% include themes/cgal/box %}

{% assign box_title = "Projects Using CGAL" %}
{% assign box_text = "Curious to see how other people make use of CGAL data structures and algorithms." %}
{% assign box_image = "images/icons/world.svg" %}
{% assign box_link = "./projects.html" %}
{% include themes/cgal/box %}

</div>
