---
layout: page
title: Releases
header: Releases
group: navigation
---
{% include JB/setup %}

<div class="row">
  <div class="col-md-4">
    <ul>
 <li><a href="https://github.com/CGAL/cgal/blob/master/Installation/changes.md">global changelog</a> </li>
 {% for post in site.tags['release'] %}
        {% capture this_day %}{{ post.date | date: "%d" }}{% endcapture %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}

        {% comment %} always print the first entry, only print following
        entries if they are not betas, this is a little convoluted since
        we have no better way to negate contains statements
        {% endcomment %}

        {% if forloop.first %}
        <li><a href="{{ BASE_PATH }}{{post.url}}" class="active">{{post.title}}</a> ({{this_month}} {{this_year}})</li>
        {% elsif post.title contains "beta" %}
        {% else %}
        <li><a href="{{ BASE_PATH }}{{post.url}}" class="active">{{post.title}}</a> ({{this_month}} {{this_year}})</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8">
    <img class="img-responsive" src="images/release_history_sloccount.png" alt="Releases size graph">
    <caption align=BOTTOM>Number of lines of code of CGAL (using <a href="http://www.dwheeler.com/sloccount/"> David A. Wheeler's 'SLOCCount'</a>, restricted to the <code>include/CGAL/</code> and <code>src/</code> directories).
    </caption>

    <p><br>The manual of old releases can still be accessed at
    <ul>
      <li><tt>http://doc.cgal.org/X.Y</tt> for releases X.Y >= 4.2</li>
      <li><tt>http://doc.cgal.org/Manual/X.Y/doc_html/cgal_manual/packages.html</tt>
    for releases X.Y, with 3.1 <= X.Y <= 4.1</li>
    </ul>
    </p>
  </div>
</div>
