---
layout: default
title: The Computational Geometry Algorithms Library
tagline:
---
{% include JB/setup %}


<div class="homepage-slider">
  <div id="sequence">
    <ul class="sequence-canvas">
       <!-- Base container model by sablebadger, https://www.thingiverse.com/thing:2934997 -->
      <li style="background-image: url({{ site.baseurl }}/images/April24/egg-in-pentagon.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title"> Dieudonne Operator</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Dieudonne_operator(statue, container);</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/April24/Finite_coxeter.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Bourbaki Graph</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::make_Bourbaki_graph();</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/April24/tencommandments.jpeg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Leray Triangulations</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::make_Leray_triangulation();</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/April24/tradebalance.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Seifert Loop</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Seifert_loop(faces(surface_mesh));</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/April24/Seifert.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">The Cartan Method</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Cartan_method_3::estimate_hyperbolic_distances();</pre></h3>
      </li>
<!--
      <li style="background-image: url({{ site.baseurl }}/images/segmentation.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Mesh Segmentation</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::sdf_values(surface_mesh);</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/classif_header_cgal.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Classification</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Classification::classify(las_points);</pre></h3>
      </li>

      <li style="background-image: url({{ site.baseurl }}/images/periodic_banner.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Periodic Mesh Generation</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Periodic_tet_mesh mesh = CGAL::make_periodic_mesh();</pre></h3>
      </li>


      <li style="background-image: url({{ site.baseurl }}/images/voronoi.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Voronoi Diagram</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>VD = CGAL::make_voronoi(points);</pre></h3>
      </li>
-->

<!--
      <li style="background-image: url({{ site.baseurl }}/images/polygonal_surface_reconstruction_banner.png); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
        <h2 class="title">Surface Reconstruction</h2>
        <h3 class="subtitle"><pre style='text-shadow:none'>CGAL::Polygonal_surface_reconstruction(points);</pre></h3>
      </li>
-->
    </ul>
    <div class="sequence-pagination-wrapper">
      <ul class="sequence-pagination">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
<!--
        <li>6</li>
        <li>7</li>
        <li>8</li>
-->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="blog-post blog-single-post col-md-12">
      <p>CGAL is an open source software project that provides easy access to efficient and reliable geometric algorithms in the form of a C++ library.
      CGAL is used in various areas needing geometric computation, such as geographic information systems, computer aided design,
      molecular biology, medical imaging,  computer graphics, and robotics.</p>

      <p>The library offers data structures and algorithms like
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartTriangulationsAndDelaunayTriangulations">triangulations</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartVoronoiDiagrams">Voronoi diagrams</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PkgBooleanSetOperations2">Boolean operations on polygons</a>
      and <a href="https://doc.cgal.org/latest/Polygon_mesh_processing/index.html#Coref_section">polyhedra</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PkgPointSetProcessing3">point set processing</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartArrangements">arrangements of curves</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartMeshing">surface and volume mesh generation</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartGeometryProcessing">geometry processing</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PkgAlphaShapes2">alpha shapes</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartConvexHullAlgorithms">convex hull algorithms</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartReconstruction">shape reconstruction</a>,
      <a href="https://doc.cgal.org/latest/Manual/packages.html#PartSearchStructures">AABB and KD trees</a>...
      Explore the complete list of features and capabilities by visiting the CGAL
      <a href="https://doc.cgal.org/latest/Manual/packages.html" target="_blank">Package Overview</a>.

      <p>The CGAL data structures and algorithms are distributed under a dual license, namely under
      the GPL v3+ and, alternatively, under a commercial license
      by <a href="http://geometryfactory.com/">GeometryFactory</a>.</p>
    </div>
  </div>

  <div class="col-md-8">
    <h3>Latest News</h3>
    <ul>
      {% assign news = site.posts %}
      {% assign news_counter = 0 %}
      {% assign max_news_number = 4 %}
      {% for post in news %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}

        {% assign is_release = false %}
        {% for tag in post.tags %}
          {% if tag contains "release" %}
            {% assign is_release = true %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% unless is_release == true %}
        {% unless post.dontshow %}
        {% unless post.tags contains "WIP" %}
          <li class="active">{{this_month}} {{this_year}}
          <a href="{{ site.baseurl }}{{post.url}}" class="active">{{post.title}}</a><!--
          -->{% unless post.description == "" %} -- {{post.description}}{% endunless %}
          </li>
          {% assign news_counter = news_counter | plus: 1 %}
          {% if news_counter >= max_news_number %}
            {% break %}
          {% endif %}
        {% endunless %}
        {% endunless %}
        {% endunless %}
      {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/news.html" class="btn">Older news and announcements...</a>
  </div>
  <div class="col-md-4">
    {% assign news = site.posts %}
    {% assign exist_active_beta = false %}
    <h3>Latest Releases</h3>
    <ul>
      {% for post in news %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}

        {% if post.tags contains "latest-release" %}
          <li class="active"><b>Latest stable release:</b> <a href="{{ site.baseurl }}{{post.url}}" class="active">{{post.description}}</a></li>
          {% break %}
        {% endif %}
      {% endfor %}
      {% for post in news %}
        {% if post.tags contains "active-beta-release" %}
          {% assign exist_active_beta = true %}
          <li class="active"><b>Active beta release:</b> <a href="{{ site.baseurl }}{{post.url}}" class="active">{{post.description}}</a></li>
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
    <h4>Previous Releases</h4>
    <ul>
      {% assign releases_counter = 0 %}
      {% assign max_releases_number = 1 %}
      {% unless exist_active_beta == true %}
        {% assign max_releases_number = max_releases_number | plus: 1 %}
      {% endunless %}

      {% for post in news %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
        {% unless post.dontshow %}
        {% unless post.tags contains "WIP" %}
        {% if post.tags contains "release" %}
        {% unless post.tags contains "latest" or post.tags contains "active" %}
          <li class="active">{{this_month}} {{this_year}} <a href="{{ site.baseurl }}{{post.url}}" class="active">{{post.description}}</a></li>
          {% assign releases_counter = releases_counter | plus: 1 %}
          {% if releases_counter >= max_releases_number %}
            {% break %}
          {% endif %}
        {% endunless %}
        {% endif %}
        {% endunless %}
        {% endunless %}
      {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/releases.html" class="btn">Older releases...</a>
  </div>
</div>
