name: Receive_PR

# read-only repo token
# no access to secrets
on: [push,pull_request,workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Setup Jekyll
        run: |
          gem install jekyll bundler
      - name: Update Configuration
        run: |
          yq -i '.JB.BASE_PATH = "https://cgal.github.io/cgal-web"' _config.yml
          yq -i '.baseurl = "/cgal-web"' _config.yml
      - name: Remove demo/ (temporarily)
        run: rm -rf demo/
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: setup nodejs
        run: npm install
      - name: Build with jekyll
        run: bundle exec jekyll build --future --destination ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
      - name: Create PR number file
        run: |
          echo "${{ github.event.number }}" > pr_number.txt
      - name: Upload PR number file
        uses: actions/upload-artifact@v5
        with:
          name: pr_number
          path: pr_number.txt
